@{
    ViewData["Title"] = "Pagina Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Leer acerca de<a href="https://learn.microsoft.com/aspnet/core">Sistema diseñado con ASP.NET core</a>.</p>
</div>
